
CONFIG_HG_GNSS_RX_GPIO=12
CONFIG_HG_GNSS_TX_GPIO=11

CONFIG_HG_SD_CS_GPIO=7
CONFIG_HG_SD_SCLK_GPIO=8
CONFIG_HG_SD_MISO_GPIO=9
CONFIG_HG_SD_MOSI_GPIO=10

CONFIG_HG_SCREEN_SDA_GPIO=1
CONFIG_HG_SCREEN_SCL_GPIO=0


CONFIG_HG_FAN=y
CONFIG_HG_FAN_GPIO=25
CONFIG_HG_FAN_ON_AT_BOOT=1

CONFIG_HG_WEB_AP_AT_BOOT=n
CONFIG_HG_WEB_BUTTON_GPIO=28

CONFIG_HG_SCREEN_COL_OFFSET=0
CONFIG_HG_SCREEN_SH1106=n
