
CONFIG_HG_ROLE_MASTER=y
CONFIG_HG_GNSS=y
CONFIG_HG_SD=y
CONFIG_HG_SCREEN=y

CONFIG_HG_SCREEN_SH1106=y


CONFIG_HG_WEB=y

CONFIG_HG_SD_FREQ_KHZ=400

CONFIG_LOG_MAXIMUM_LEVEL_DEBUG=y

CONFIG_HG_SD_SCLK_GPIO=6
CONFIG_HG_SD_MOSI_GPIO=8
CONFIG_HG_SD_MISO_GPIO=9
CONFIG_HG_SD_CS_GPIO=10
